
.clientes-header {
    display: flex;
    align-items: center;
    padding-bottom: 15px;
    margin-bottom: 25px;
}

.header-icon {
    font-size: 40px !important;
    color: var(--primary-color);
    margin-right: 15px;
}

.search-card {
    background-color: var(--surface-white) !important;
    padding: 15px;
    border-radius: var(--border-radius) !important;
    box-shadow: var(--box-shadow-soft) !important;
    margin-bottom: 20px;
}

.form-card {
    background-color: var(--surface-white) !important;
    padding: 25px;
    border-radius: var(--border-radius) !important;
    border-left: 5px solid var(--accent-color); /* Detalle visual distinto a stock */
    box-shadow: var(--box-shadow-soft) !important;
    margin-bottom: 30px;
}

.form-title {
    display: flex;
    align-items: center;
    color: var(--secondary-color);
    margin-bottom: 20px !important;
    font-weight: 600 !important;
}

.table-container {
    border-radius: var(--border-radius) !important;
    overflow: hidden;
    box-shadow: var(--box-shadow-soft) !important;
}

.table-header-row {
    background-color: var(--secondary-color) !important;
}

.table-header-cell {
    color: var(--surface-white) !important;
    font-weight: 600 !important;
}

.pointer {
    cursor: pointer;
}


.action-btn-edit {
    color: var(--primary-color) !important;
}

.action-btn-edit:hover {
    background-color: rgba(25, 118, 210, 0.04) !important;
}