.modal {
    display: flex;
    justify-content: center;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000; 
  }
  
  .modal-content {
    background-color: white;
    padding: 30px;
    width: 90%;
    max-width: 800px;
    max-height: 90vh;
    box-shadow: 0 8px 32px rgba(0, 0, 0, 0.2);
    position: relative;
  }
  
  .close-btn {
    position: absolute;
    top: 10px;
    right: 10px;
    font-size: 24px;
    cursor: pointer;
    color: #333;
  }
  
  .close-btn:hover {
    color: red;
  }
  
  .tabla-negra {
    width: 100%;
    border-collapse: collapse;
    margin-top: 20px;
    
  }
  
  .tabla-negra th, .tabla-negra td {
    padding: 10px;
    text-align: left;
    border: 1px solid #ddd;
  }
  
  .tabla-negra th {
    background-color: #4a90e2;
    color: white;
  }
  
  .tabla-negra tbody tr:nth-child(even) {
    background-color: #f9f9f9;
  }
  
  .tabla-negra tbody tr:hover {
    background-color: #f1f1f1;
  }

  .titulo-venta {
  color: #2c3e50;
  text-align: center;
  margin-bottom: 20px;
  font-size: 24px;
  font-weight: 600;
  padding-bottom: 10px;
}

.total-container {
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 15px;
}

.total-label {
  color: #2c3e50;
  font-size: 20px;
}

.total-monto {
  color: #28a745;
  font-size: 30px;
  font-weight: 700;
  text-shadow: 1px 1px 2px rgba(0, 0, 0, 0.1);
}