button {
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
flex: 1;
min-width: 150px;
font-size: 16px;
height: 45px;
}

button:hover {
background-color: #357ab8;
}

table {
width: 90%;
margin: 20px auto;
border-collapse: collapse;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th,td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background-color: #4a90e2;
color: #fff;
cursor: pointer;
transition: background-color 0.3s;
}

th:hover {
background-color: #357ab8;
}

tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

tbody tr:hover {
background-color: #f1f1f1;
}

.pagination{
display: flex;
}

.stock-icon {
    color: #2196f3;
    margin-right: 8px
}

.form-container-stock{
    border-left: 4px solid #2196f3 !important;
}

.btn-edit {
    background-color: #1976d2;
    color: white;
    padding: 8px 16px;
    border-radius: 4px;
    margin-right: 8px;
    font-size: 14px;
    min-width: auto;
    height: auto;
    flex: none;
}

.btn-edit:hover {
    background-color: #1565c0;
}

.btn-delete {
    background-color: #dc3545;
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 4px;
    cursor: pointer;
    font-size: 14px;
    min-width: auto;
    height: auto;
    flex: none;
}

.btn-delete:hover {
    background-color: #c82333;
}

.btn-cancel {
    background-color: #dc3545;
    color: white;
}

.btn-cancel:hover {
    background-color: #c82333;
}

.btn-agregar{
    background-color: #2196f3;
}