

input:focus {
border-color: #61dafb;
box-shadow: 0 0 5px #61dafb;
}

button {
padding: 10px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s;
flex: 1;
min-width: 150px;
font-size: 16px;
height: 45px;
}

button:hover {
background-color: #357ab8;
}

#estado-sekect{
border: 20px !important;
}

.estado-sekect{
border: 20px !important;
}

.btn-submit {
background-color: #28a745;
color: white;
}

.btn-submit:hover {
background-color: #218838;
}

.btn-reset {
background-color: #54534f;
color: white;
}

.btn-reset:hover {
background-color: #383734;
}

table {
width: 90%;
margin: 20px auto;
border-collapse: collapse;
box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

th,
td {
padding: 12px;
text-align: left;
border-bottom: 1px solid #ddd;
}

th {
background-color: #4a90e2;
color: #fff;
cursor: pointer;
transition: background-color 0.3s;
}

th:hover {
background-color: #357ab8;
}

tbody tr:nth-child(even) {
background-color: #f9f9f9;
}

tbody tr:hover {
background-color: #f1f1f1;
}

.btn-edit {
background-color: #ffc107;
color: white;
border: none;
padding: 8px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-edit:hover {
background-color: #e0a800;
}

.btn-delete {
background-color: #dc3545;
color: white;
border: none;
padding: 8px 15px;
border-radius: 5px;
cursor: pointer;
transition: background-color 0.3s ease;
}

.btn-delete:hover {
background-color: #c82333;
}

.pagination{
display: flex;
}

.stock-title {
    display: flex;
    align-items: center;
    gap: 10px;
}

.stock-icon {
    color: var(--primary-color) !important;
}