
#form-venta-inputs {
  display: flex;
  flex-direction: column;
  gap: 15px;
  width: 100%;
  max-width: 400px;
  margin: 20px auto;
}

#cliente-input, #dni-empleado-input {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

input[type="text"] {
  padding: 10px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
}

#tabla-ventas-container {
  width: 100%;
  margin-top: 20px;
}

#tabla-ventas {
  width: 100%;
  border-collapse: collapse;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

#tabla-ventas th, #tabla-ventas td {
  padding: 12px;
  text-align: left;
  border-bottom: 1px solid #ddd;
}

#tabla-ventas th {
  background-color: #4a90e2;
  color: #fff;
  cursor: pointer;
  transition: background-color 0.3s;
}

#tabla-ventas th:hover {
  background-color: #357ab8;
}

#tabla-ventas tbody tr:nth-child(even) {
  background-color: #f9f9f9;
}

#tabla-ventas tbody tr:hover {
  background-color: #f1f1f1;
}

button.detallebtn {
  background-color: #007bff;
  color: white;
  padding: 8px 15px;
  border-radius: 5px;
  cursor: pointer;
  transition: background-color 0.3s ease;
  border: none;
}

button.detallebtn:hover {
  background-color: #0056b3;
}


.ventas-icon {
    color: #2e7d32 !important;
}